.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

nav {
  width: 100%;
  height: 70px;
  position: fixed;
}

nav div {
  background: black;
  display: flex;
  height: 100%;
}

nav div ul {
  flex: 2;
  display: flex;
  list-style: none;
}

nav div .socials {
  flex: 1;
}

nav div ul li {
  flex: 1;
  padding: 5px;
  font-size: 20px;
}

nav div .socials li {
  flex: 0;
  padding: 0 10px;
}

.footer {
  background: #1c1a1a;
  height: 70px;
}

img {
  height: 60px;
  width: 60px;
}

.item {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px 200px;
}

h1 {
  font-size: 70px;
  font-family: 'Bungee Shade', cursive;
}

p {
  font-size: 25px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.info {
  padding: 20px;
}

.info p {
   background: rgba(85, 83, 87, 0.295);
   padding: 20px;
}

button {
  background: rgba(21, 21, 31, 0.979);
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
}

button:hover {
  background: rgba(124, 61, 207, 0.774)
}

.info-border {
  padding: 50px 35px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./images/sunset.jpg');
  background-size: cover;
  height: 100vh;
  background-position: 50%;
  color: white;
}

.projects {
  display: flex;
}

.project {
  flex: 1;
  background: black;
  color: white;
}

.project:nth-child(2) {
  margin: 0 10px;
}

#tech-stack {
  margin-bottom: 50px;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

#about {
  background: black;
  padding-bottom: 30px;
  color: white;
}

#about div img {
  height: 375px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid white;
  margin: 10px;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 20px;
  }
  .container {
    padding: 0;
  }
  #about div img {
    height: 275px;
    width: 220px;
  }
}