.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  background: #1c1a1a;
  color: white;
  height: 50px;
}

.nav {
  display: flex;
  width: 100%;
}

.item {
  flex: 1;
}
