.App {
  text-align: center;
}

.App-header {
  background: #4295f5;
}

.main {
  background: #f56642;
}

.about {
  background: #42f59c;
}

.projects {
  background: #f56642;
}

.skills {
  background: #42f59c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
